<div class="blocos">
  <div class="bloco1">
    <div class="linha1">
      <div class="linha1-1"><img [src]="imagem1Linha1" alt="" /></div>
      <div class="linha1-2">
        <span>{{ titulo1Linha1 }}</span
        ><br />
        <span></span><br />
        <span>{{ titulo2Linha2 }}</span>
      </div>
    </div>
    <div class="linha2">
      <span></span>
    </div>
    <div class="linha3">
      <span>{{ titulo1Linha3 }}</span>
      <span><img [src]="imagem1Linha3" alt="" /></span>
    </div>
  </div>
  <div class="bloco2">
    <img [src]="imagem1Bloco2" alt="" />
  </div>
</div>
