/*
.header_links_container, .academia, .academia_ref {
  background-color: #1A2C47;
  justify-content: flex-end;
  padding-top: .4rem;
  padding-bottom: .4rem;
  gap: 2.4rem;
}

.row_ref {
  display: flex;
  align-items: center;
  font-size: var(--h6-size);
  line-height: 2.4rem;
  color: #FFFFFF;
  text-decoration: none;
}
*/
