<div class="header_links_container">
  <div class="container">
    <div class="col">
      <a href="    https://www.scaler.com/?utm_source=topics">Experiência Escalar</a>
    </div>
    <div class="col">
      <a href="https://www.scaler.com/academy/?utm_source=topics">Academia</a>
    </div>
    <div class="col">
      <a href="https://www.scaler.com/data-science-course/?utm_source=topics">Ciência de Dados</a>
    </div>
    <div class="col">
      <a href="https://www.scaler.com/neovarsity/?utm_source=topics">Nova Universidade</a>
    </div>

  </div>
</div>
