.card1 {
  background-color: #ffe6e9;
}

.card2 {
  background-color: #fff5e6;
}

.card3 {
  background-color: #E6FFFC;
}

.card4 {
  background-color: #E6F4FF;
}

*{
  padding: 5px;
}

.linha1,
.linha2 {
  display: flex;
}

#coluna {
  flex: 1;
}
