<div class="linha1">
  <div><img src="../../../assets/escaler-topics.png" alt=""></div>
  <div>
    <label for="topicos">Tópicos</label>
    <select name="topicos" id="topicos" >
        <option value="item1">Item 1</option>
        <option value="item2">Item 2</option>
        <option value="item3">Item 3</option>
        <!-- Adicione mais itens conforme necessário -->
    </select>

  </div>
  <div>EXPLORAR</div>
  <div>CURSOS</div>
  <div>EVENTOS</div>
  <div>PESQUISA</div>
  <div>ENTRAR</div>
  <div>EXPERIENCIA ESCALAR</div>
</div>

<style>

*{
    border: 1px solid gray;
    padding: 5px;
  }

  .linha1 {
    display: flex;
  }
  .dropdown__menu li {
    padding: 10px;
  }
</style>

